
@*@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}*@

@model USAG_Appl.Models.Merchant
@*<div id="main">
    <div class="container-fluid">
        <div class="topnav">

            <span style="font-size:30px;cursor:pointer; color:white" onclick="manageToggleMenu()" id="toggleMenu" title="Open">&#9776; </span>
            <a href="#">Nithya Jones Caesar</a>
            <a href="#">Logout</a>
            <a href="#"><i class="fa fa-cogs" style="color:white;"></i></a>
        </div>

        <div class="w3-container" id="Body_Container">
            <div class="panel panel-default panel-search" style="margin-top:-16px !important; border:0 !important; border-radius:0!important;">
                <div class="panel-body">
                    <div class="content">

                        <div class="form-horizontal">
                            <div id="user-edit" class="nav-tabs-custom">*@



                                @*<ul class="nav nav-tabs">
                                        <li class="active"><a data-tab-name="tab-info" data-toggle="tab" href="#Appl_Type">Application Type</a></li>
                                        <li class=""><a data-tab-name="tab-info" data-toggle="tab" href="#tab-info">Merchant Profile</a></li>
                                        <li class=""><a data-tab-name="tab-activitylog" data-toggle="tab" href="#OwnerOfficer">Owner/Officer Information</a></li>
                                        <li class=""><a data-tab-name="tab-info" data-toggle="tab" href="#OwnerOfficer">Owner/Officer Information</a></li>

                                    </ul>*@
                                @*<div id="rcorners2">

                                    <form action="/Home/tab3" method="post" class="form-horizontal" role="form">

                                        <div class="panel-group">
                                            <div class="panel panel-default">
                                                <div class="panel-body">*@
                                                    @*<div id="tab-info" class="tab-pane fade">*@

                                                    @*<div id="OwnerOfficer" class="tab-pane fade">*@

                                                        <h1>Page 3 </h1>
                                                        <div class="form-group">
                                                            <div class="col-sm-2">

                                                                <div class="label-wrapper">@Html.LabelFor(Model => Model.merchantname_taxreturn, new { @class = "control-label" })</div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="input-group">

                                                                    @Html.TextBoxFor(Model => Model.merchantname_taxreturn, new { @class = "form-control text-box single-line password valid", id = "Merchant_Name_taxReturn", placeholder = "Merchant Name", Type = "Text" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-2">

                                                                <div class="label-wrapper">@Html.LabelFor(Model => Model.federalTaxID, new { @class = "control-label" })</div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="input-group">

                                                                    @Html.TextBoxFor(Model => Model.federalTaxID, new { @class = "form-control text-box single-line password valid", id = "Federal_TaxID", placeholder = "Federal Tax ID", Type = "Text" })
                                                                </div>
                                                            </div>

                                                        </div>
                                                        @*<a class="btn btn-primary back">Previous</a>
        <a class="btn btn-primary continue disabled">Next</a>*@


                                                        <div>
                                                            @Html.ActionLink("Previous", "Test_Tab","Home", new {}, null)
                                                                <button type="submit" id="search-users" class="btn btn-primary btn-search"> Submit </button>
                                                         
                                                        </div>



                                                    @*</div>
                                                </div>
                                            </div>
                                        @*</div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@
